<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title></title>
<link rel="stylesheet" href="../static/css/base.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
<!--[if lt IE 9]>
        <script src="../static/js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container"> 
  <!-- head-->
  <div class="head">
    <ul class="nav g-inner clearfix">
      <li class="nav_logo"><strong>logo </strong>标题</li>
      <li><a href="#">我的首页</a></li>
      <li><a href="#">我的相册</a></li>
      <li><a href="#"></a></li>
      <ul class="fr nav">
          <li><input id="search" type="search" placeholder="搜索" autofocus x-webkit-speech></li>
          <li class="nav_user">
            <a href="#"><img src="../static/img/medium/3.jpg" alt="用户头像"><b></b></a>
            <ul class="user_infoLi">
              <li class="mine"><a href="#"><i class="icon16 icon-mine"></i>个人中心</a></li>
              <li class="mobile"><a href="#"><i class="icon16 icon-mobile"></i>客户端下载</a></li>
              <li class="friends"><a href="#"><i class="icon16 icon-friends"></i>查找好友</a></li>
              <li class="about"><a href="#"><i class="icon16 icon-about"></i>关于&amp;帮助</a><a href="#">用户反馈</a><a href="#">友情链接</a><a href="#">加入我们</a></li>
              <li class="settings"><a href="#"><i class="icon16 icon-settings"></i>帐号设置</a><a href="#">退出登录</a></li>
            </ul>
          </li>
      </ul>
    </ul>
  </div>
  <section class="g-inner"> 
    
  </section>
  <footer>
    <p class="copyright"><strong>Copyright ©2012 :</strong>TuZhan.Com All Rights Reserved 蜀ICP备10207566号-8</p>
  </footer>
</div>
<!--
-------------modals--> 

<!--end
-------------modals--> 
<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script> 
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script> 
<script>

</script>
</body>
</html>