body {
	padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
	behavior:url(../resource/js/tool_ie6hover.htc);
	background:url(../img/bg-gray.png) repeat !important;/*--改bootstrap--*/
  font-family: "微软雅黑";
}
a{
	cursor:pointer;
}
.btn.active {
    color: white !important;
    background-color:#3f9fd9 !important;
    background-color:#3f9fd9 \9 !important;
}
.report_font{
    font-size: 18px;
}
.question_font{
    font-size: 17px !important;
    font-weight: bold;
}

.menu_li,.nav_font li a,li_font {
    font-size: 18px;
}
ul.dropdown-menu li a:hover{
    color: white !important;
}
.hidden{
    display: none !important;
}
ul.bs-docs-sidenav li{
    font-size: 18px;
    line-height: 24px;
}
.clear {
	clear:both;
}
h3{
    margin-top: 0;
    padding-top: 0;
}
.control-label{
    font-size: 16px;
}
ul li{
	list-style:none;
}

.hr1 {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	border-bottom: 1px solid #FFF;
	margin: 10px 0 10px 0;
	height: 0;
}
.hr2 {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	border-bottom: 1px solid #FFF;
	margin: 10px 0 0 0;
	height: 0;
}
.hr3 {
	margin: 2px 0 10px 0 !important;
}
.hr4 {
	border:dashed #ddd;
	border-width: 1px 0 0;
	clear: both;
	border-bottom: 1px dashed #FFF;
	margin: 0px 0 5px 0 !important;
	height: 0;
}
/*---反馈---*/
.feedback {
	display:scroll;
	position:fixed;
	top:30%;
	right:0px;
	cursor:pointer;
	width:26px;
	height:72px;
	font:16px/26px "微软雅黑";
	color:#FFF;
	text-align:center;
	padding-top:23px;
	border-radius:6px 0 0 6px;
	background-color:#3f9fd9;
	background-color:#3f9fd9 \9;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
	color:#eee;
	text-shadow:none;
}
div.feedback:hover{
	padding-right:8px;	
	background-color: #3f9fd9;
}
.modal-footer a {
	display:inline !important;
	font-size:14px;
	color:#369BD7;
	line-height:21px;
}
.modal-footer a:focus, a:hover, a:active {
	color: #317EAC !important;
	text-decoration:underline;
}
.modal-body p {
	font-size:14px;
	color:#000;
}
.modal-body a {
	display:inline !important;
}
.modal-body a:focus, a:hover, a:active {
	color: #317EAC !important;
	background:none !important;
}
.global-nav .account-summary .content {
	padding-right: 15px;
	margin-top: 1px;
	margin-right: 0;
	line-height: 14px;
	width:50px;
}
.global-nav .current-user .metadata {
	display: block;
	font-size: 13px;
}
.account-summary .account-group-inner, .account-summary .metadata {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.nav small {
	font-weight: normal;
}
.page-canvas {
	width:60%;
	margin:auto !important;
	margin-top:10px !important;
	border-radius: 6px 6px 6px 6px;
}
.control {
	overflow-y: scroll;
	max-height:153px;
	margin:10px 0 17px 0!important;
	background-color:#EEE !important;
	padding:0px !important;
}
.text {
	margin:10px;
}
.notice {
	font-size:12px;
	color:#999;
	margin:0px !important;
	padding:5px 0 !important;
}
.page-mid {
	width:80%;
	margin:auto;
	padding:40px 0 30px 0;
}
.text_indext{
	padding-left:0.7em;
}
.foot-mid {
	width:75%;
	margin:auto;
	padding-top:5px;
}
.bg_none {
	background:none;
}
.scrollspy-example {
	width:90%;
	margin:auto;
}
.question_title {
	margin:20px 0px 10px 0px;
}
.black {
	color:#000 !important;
}
.gray {
	color:#555555;
}
.padding_left {
	padding-left:120px;
}
.padding_none {
	padding:0px;
}
.margin_none {
	margin:0px !important;
}
.margin_left {
	margin-left:5px !important;
}
.pull-mid {
	margin:auto !important;
	text-align:center !important;
}
.padding_top {
	padding-top:40px;
}
.padding-bottom {
	padding-bottom:5px;
}
.controls ul li {
	padding-bottom:8px;
}
.margin-top {
	margin-top:37px;
}
.report_form {
	border:#C7C7C7 1px solid;
	border-radius: 8px 8px 8px 8px;
	background-color:#FFF;
}
.well_white {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #FFF;
	border:#C7C7C7 1px solid;
	border-radius: 8px 8px 8px 8px;
}
.navbar .brand0 {
	float: left;
	display: block;
	padding: 1px 20px 2px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
}
.table tbody td {
	margin:auto;
	vertical-align:middle;
}
/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
	padding-bottom: 0;
	margin-bottom: 9px;
}
.subhead h1 {
	font-size: 54px;
}
/* Subnav */
.subnav {
	width: 100%;
	height: 36px;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* Opera 11.10+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.subnav .nav {
	margin-bottom: 0;
}
.subnav .nav > li > a {
	margin: 0;
	padding-top:    11px;
	padding-bottom: 11px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: #777;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
	border-top-color: #777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
	border-right: 0;
}
.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.span_bg {
	height: 60px;
	background-repeat: repeat-x;
	background:url(../img/step_dot.png) no-repeat top right;
	margin:0px !important;
	padding:35px 0px 0 0 !important;
}


/*---facebook---*/

.social a {
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	display:-moz-inline-box;
	-moz-box-orient:vertical;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
	text-indent:-9999px;
	margin-right:15px;
	opacity:0.5;
	width:28px;
	height:28px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s
}
.social a {
*display:inline
}
.social a:hover {
	opacity:1
}
.social a.facebook {
	background:url(../img/facebook.png) center no-repeat #3b5998;
	border:1px solid #3B5998
}
.social a.facebook:hover {
	border:1px solid #2d4373;
	background:url(../img/facebook.png) center no-repeat #2d4373!important;
}
.social a.google {
	background:url(../img/google.png) center no-repeat #c83d20;
	border:1px solid #C83D20
}
.social a.google:hover {
	border:1px solid #9c3019;
	background:url(../img/google.png) center no-repeat #9c3019 !important;
}
.social a.twitter {
	background:url(../img/twitter.png) center no-repeat #55cff8;
	border:1px solid #55CFF8
}
.social a.twitter:hover {
	border:1px solid #24c1f6;
	background:url(../img/twitter.png) center no-repeat #24c1f6 !important;
}
.social a.renren {
	background:url(../img/renren.png) center no-repeat #5fa5cf;
	border:1px solid #5fa5cf
}
.social a.renren:hover {
	border:1px solid #005db2;
	background:url(../img/renren.png) center no-repeat #005db2 !important;
}
.social a.sina {
	background:url(../img/sina.png) center no-repeat #e62226;
	border:1px solid #e62226;
}
.social a.sina:hover {
	border:1px solid #e71f19;
	background:url(../img/sina.png) center no-repeat #e71f19!important;
}
.timeline_container {
	width: 16px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	display: block;
}
.timeline {
	margin: 0 auto;
	background-color: #A0D0EC;
	display: block;
	float: left;
	left: 49.6%;
	height:100%;
	margin-top: 10px;
	position: absolute;
	width: 4px;
}
.timeline:hover {
	cursor: pointer;
	margin: 0 auto;
}
/*---------------*/

.defeng {
 font-size:18px;
 font-family: verdana;
 font-weight:bold;
}
.stu_right {
	border:1px solid #003;
	background:#FFF;
}
.table1 {
	background-color:#FFF !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	-moz-border-radius-topleft:0px !important;
}
.stu_title {
	background-color:#e5e5e5;
	border-left: 5px solid #61B0DF;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	margin: 10px 0 15px;
	padding-left: 15px;
	text-shadow: 1px 1px 1px #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.foot-mid ul li a {
	font-size:12px;
	color:#666;
	font-family:"宋体";
}
.h2_black {
	color:#000;
	font-weight:500;
}
a.thumbnail:hover {
	text-decoration:none !important;
}
a.text-decoration:hover {
	text-decoration:none !important;
}
.error {
	color:#B94A48;
}
.right {
	color: #99CC00;
}
.xz label {
	margin-bottom:6px;
	display:block;
}
.login_img a {
	display: block;
	background:url(../img/people.png) top right no-repeat;
	width:21px;
	height:21px;
}
.login_img a:hover {
	background-position:right bottom;
}
.login_img a:focus {
	background-position:right bottom;
}
.font_12 {
	font-size:12px;
}
.font_14 {
	font-size:14px;
}

.font_16 {
	font-size:16px;
}
.font-weight {
	font-weight:100;
}
.inline {
	display:inline !important;
}
ul.liebiao {
	margin-left:16px !important;
}
ul.liebiao li {
	color: #757575;
	font-size: 15px !important;
	margin-bottom: 13px;
	list-style: Circle outside none;
}
ul.yct {
	margin-left:5px !important;
}
ul.yct li {
	font-size: 14px !important;
	margin-bottom: 10px;
	list-style:Decimal inside;
}
ul.yct li a {
	color: #757575 !important;
}
h3 a {
	color:#317eac !important;
}
.thumbnails active {
	color:red !important;
}
.thumbnails label {
	margin:0px 7px 4px 0px !important;
	padding:4px !important;
}
.modal-all {
	width:680px;
	top:40%;
	left:42%;
}
.inlineul li {
	display: inline-block;
	width: 150px;
	margin-right: 60px;
	line-height: 30px;
	min-height: 10px;
	padding: 5px 0;
}
ul.inline li {
	display:inline;
	color:#999;
}
.danxuan {
	padding-left:80px;
	font-size:16px;
	width:440px;
	color:#369BD7;
}
.pro1 {
	margin:5px 20px 5px 2px !important;
}
.center {
	width:90%;
	margin:auto;
	padding-top:40px;
}
input.file {
	font-size:12px;
	margin:0px;
	position:relative;
	top:-30px;
	left:-120px;
	filter:alpha(opacity=0);
	opacity:0;/*用于兼容firefox*/
	cursor:pointer;
}
.form-horizontal .control-label-1 {
	float: left;
	width: 120px;
	padding-top: 5px;
	text-align: right;
}
.form-horizontal .controls-1 {
 *display: inline-block;
 *padding-left: 20px;
	margin-left: 134px;
 *margin-left: 0;
}
.error1 {
	width:70%;
	min-height:40%;
	margin:auto;
}
.wenti {
	color:#666;
}
.underline {
	text-decoration:underline;
}
ul.lineHight li {
	line-height:21px;
}
.font_28 {
	font-size: 28px;
}
.text-align {
	text-align:center;
}
.timeRange {
	padding-left:270px;
}
.timeRange input {
	height:11px;
	width:124px;
	margin-top:6px;
}
.timeRange label{
	line-height:24px;
}
.stu_item {
	width:49.9%;
	float:left;
	margin:20px 0;
}
.item {
	width:95%;
	margin:auto;
	background-color: #fff;
	border: 1px solid #b4bbcd;
	min-height: 50px;
	text-align: justify;
	word-wrap: break-word;
}
.inner {
	padding: 10px;
}
.stu_timeline {
	background:url(../img/times_07.png) repeat-y center;
}

p.gray{
	text-transform:capitalize;
	height:26px;
}

ol.course_ol li{
	list-style-type:upper-roman;
	font:20px/32px  Helvetica, sans-serif;
	color:#317EAC;
}

ol.course_ol li ol li{
	list-style-type:lower-alpha;
	font:16px/26px Arial, Helvetica, sans-serif;
	color:#666;
}

ol.course_ol li ol li a{
	color:#666;
}

.workingBoard_info{
	border:1px solid #CCC;
	height:240px;
	overflow-y:scroll;
}

.workingBoard_info ul li{
	list-style:disc;
	font:18px/26px  Helvetica, sans-serif;
}

.workingBoard_info ul p{
	font:16px/24px Arial, Helvetica, sans-serif;
}
.workingBoard_tool{
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background:#F5F5F5;
	padding:5px;
}

.microphone{
	position:absolute;
	width:165px;
	text-align:center;
	top:77%;
	left:33%;
}
.ppt img{
	border:1px solid #999;
}

.ppt .row-fluid{
	margin:3px 0 ;
}

.ppt .row-fluid .span1 img{
	border:none !important;
}

.ppt .row-fluid .active img{
	border:2px solid #317EAC !important;
}

.ppts{
 overflow:hidden !important;
 white-space:nowrap !important;
 display:inline-block !important;
}


ul.min_ppt{
	position:relative;
	width:900px;
	 white-space:nowrap !important;
}
ul.min_ppt li.span2{
	 display:inline-block !important;
	 white-space:nowrap !important;
	 width:50px !important;
}

.waring{
	top:65%;
	left:60%;
	width:220px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

ul.dropdown-menu li:hover{
	background-color:#369BD7 !important;
}

.table-striped tr th,table-striped tr td{
	text-align:center;
}

.bookMark_star{
	display:inline-block;
	background-image:url(../img/star.png);
	width:13px;
	height:13px;
	background-position:0 0;
}

.bookMark_star_active{
	background-position:0 -16px;
}



.no_class{
	border:3px dashed #5FAFDF ;
	height:130px;
	line-height:130px;
	text-align:center;
	font-size:16px;
}