/*-------index.html----------*/
/*--head--*/
.head {
	position:fixed;
	top:0;
	left:0;
	line-height:30px;
	height:30px;
	font-size: 12px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	width:100%;
}
.head a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
	border-bottom: 2px solid transparent;
}
.head .nav li>a:hover {
	background: rgba(255,255,255,0.5);
	border-bottom: 2px solid #f7bb6d;
}
.nav li > a{

}
.nav_logo{
		margin-right:20px;
}

.nav_user img {
	vertical-align:middle;
	width: 20px;
	height: 20px;
}
.user_infoLi {
	position: absolute;
	display: none;
	right:0px;
	top: 32px;
	background: #FFF;
	width: 160px;
	white-space: nowrap;
	line-height: 1.7;
	text-align: left;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	overflow: hidden;
	font-size: 14px;
	color: #221919;
}
.nav_user:hover .user_infoLi{
	display: block;
}
.user_infoLi li {
	display: block;
	position: relative;
	border-bottom: 1px solid #E1DFDF;
}
.user_infoLi li a {
	display: block;
	padding: 8px 10px 8px 36px;
	text-align: left;
	font-weight: 400;
	line-height: 12px;
}
.nav_user .user_infoLi li a:hover {
	color: #221919;
	text-decoration: none;
	background-color: #F2F2F2;
	border-bottom: 2px solid transparent;
}
.user_infoLi ul::before {
	content: "";
	display: block;
	box-shadow: 0 0 4px rgba(0,0,0,.15);
	border-bottom: 1px solid #E0DEDE;
	margin: 0 -10px 0;
}
.user_infoLi li a:first-child {
	padding-top: 12px;
}
.user_infoLi li a:last-child {
	padding-bottom: 12px;
}

.h-title{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
    text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
.h-title h1{
	font-size: 26px;
	line-height: 26px;
	margin: 0;
	position: relative;
	font-weight: 700;
	color: #000;
}
.h-title h2{
	font-size: 14px;
	line-height: 14px;
	font-weight: 300;
	margin: 0;
	padding: 3px 5px;
	margin: 10px 0 5px;
	color: #000;
	display: inline-block;
}

.h-nav{
  text-align: center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.h-nav a{
    display: inline-block;
	margin: 0px 5px;
	color: #777;
	line-height: 20px;	
	font-size: 12px;
	background: #fff;
	background: rgba(255,255,255,0.4);
	padding: 0 8px;
	letter-spacing: 1px;
}
.h-nav a:hover,
.h-nav a.active,
.h-nav a.active:hover{
	border-bottom: 2px solid #f7bb6d;
	color: #444;
}
/*--head-end--*/
.ri-grid {
	margin: 30px auto 30px;
	position: relative;
	height: auto;
}
.ri-grid-loading {
	width: 100px;
	height: 100px;
	background: transparent url(../img/loading.gif) no-repeat center center;
}
.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}
.ri-grid ul:before, .ri-grid ul:after {
	content: '';
	display: table;
}
.ri-grid ul:after {
	clear: both;
}
.ri-grid ul {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}
.ri-grid ul li a {
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* Grid wrapper sizes */
.ri-grid-size-1 {
	width: 55%;
}
.ri-grid-size-2 {
	width: 100%;
}
.ri-grid-size-3 {
	width: 100%;
	margin-top: 0px;
}
/* Shadow style */
.ri-shadow:after, .ri-shadow:before {
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}
.ri-grid-loading:after, .ri-grid-loading:before {
	display: none;
}
/*-------index.html--end----------*/

/*-------containner.html----------*/
/**/
.transitions {
	margin: 0 auto;
	padding: 0;
	position: relative;
		-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
	-webkit-transition-property: left, right, top;
	-moz-transition-property: left, right, top;
	-ms-transition-property: left, right, top;
	-o-transition-property: left, right, top;
	transition-property: left, right, top;
}
.imgShow li,.album li{
	float: left;
	border: 1px solid #DDD;
	width: 230px;
	padding: 5px;
	float: left;
	background:url(../img/big-loading.gif) no-repeat center;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-transition: all .7s ease-out .1s;
	-moz-transition: all .7s ease-out .1s;
	-o-transition: all .7s ease-out .1s;
	transition: all .7s ease-out .1s;
}
.imgShow li:hover{
	 background-color:#F66;
}
.box{
	position:relative;
}
.box-info h5{
	font-size:14px;
	font-weight:500;
		font-family:"微软雅黑";
		color:#000;
}
.box-info h5 small{
	font-size:10px;
	color:#bbb;
	margin-left:5px;
}
.transitions li:hover .box-edit i{
	display:inline-block;
	width:20px;
	height:20px;
	background-image:url(../img/edit.png);
}
.box_img{
	position:relative;
}
.box-edit{
	position:absolute;
	bottom:-5px;
	right:5px;
	cursor:pointer;	
}
.edit{background-position:0 0;}
.edit:hover{background-position:0 -30px;}
.del{background-position:0 -60px;}
.del:hover{background-position:0 -90px;}
.rose,.flashRose{
	position:absolute;
	background:url(../img/rose.png) no-repeat 0 0;
	padding-left:18px;
	line-height:16px;
	font-size:14px;
	color:#F99;
	cursor:pointer;
	font-family: Arial;
}
.rose:hover{
	background-position:left bottom;
	color:#F66;
}
.imgShow .rose{
	right:5px;
	top:5px;
}
.flashRose{
	right:5px;
	top:-45px;
	color:red;
}
.flashRose.in{
	top:5px;	
}
.user-info{
	margin-top:90px;
}
.portrait.postion{
position:absolute;
	top:-50px;	
}
.portrait {
		height:110px;
	width:110px;
	padding:6px;
	background:#fff;
	border:1px solid #ddd;
		-webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.05);
-moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.05);
-ms-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.05);
-o-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.05);
box-shadow:1px 1px 10px rgba(0, 0, 0, 0.05);
}
.portrait:hover a{
	display:block;
	width:110px;
	position:absolute;
	bottom:6px;
	text-align:center;
	background-color:rgba(0, 0, 0, 0.6);
	color:#fff;
}
.info-right{
	float:left;
	margin-left:150px;
}
.info-right span{
	margin-right:2em;
}
.user_atten{
	float:right;
	padding-top:12px;
}
.user_atten li{
	width:80px;
	height:50px;
	text-align:center;
	font-size:14px;
	font-family:"微软雅黑";
	border-left:1px solid #eee;
}
.user_atten li strong{
	display:block;
	font-size:20px;
}

.user_atten li a:hover{color:#0A8CD2;}
.upload_img{
	position:absolute;
	right:0;
	top:-50px;
}
.img_nav{
	border-top:1px dashed #ddd;
	margin-top:20px;
	padding-top:5px;
	display:block;
}
/*---album----*/
.album li{
	padding:10px;
	background-color:#fff;	
}
.album li:hover{
	border:1px solid #F66;
}
.album .box-edit{
	top:5px;
}
.album .rose{
	left:10px;
	bottom:5px;
}
.albumImg span{
	float:left;
	width:74px;
	height:66px;
	margin:1px;
	overflow:hidden;
}
/*-------settings------*/
.settings-title{
	background:url(../img/settings.png) no-repeat left center;
	padding-left:28px;
	font-size:20px;
	color:#333;	
}
.settings-nav{
margin-top:16px;
background:url(../img/line.png) bottom repeat-x;
}
.settings-nav ul{
font-size: 16px;
margin-left: 70px;
margin-right: 70px;
position: relative;
z-index: 1;
white-space: nowrap;
}
.settings-nav li{
	position:relative;
float:left;
width:90px;
margin-right: 20px;
white-space: nowrap;
height:30px;
overflow:hidden;
}
.settings-nav li a{
	padding:0 10px;
}
.settings-nav li.active{
	border-bottom:2px solid #3FA7CB;
	margin-bottom:1px;
}

.settings-nav li.bubble{border-bottom:2px solid #3FA7CB;position: absolute;top:0;left:110px;z-index: -1;-webkit-transition: left 0.5s;-moz-transition: left 0.5s;}
.settings-nav li:nth-child(1):hover ~ .bubble{  left: 0px; }
.settings-nav li:nth-child(2):hover ~ .bubble{  left: 110px; }
.settings-nav li:nth-child(3):hover ~ .bubble{  left: 220px; }
.settings-nav li:nth-child(4):hover ~ .bubble{  left: 330px; }
.settings-nav li:nth-child(5):hover ~ .bubble{  left: 440px; }
.settings-nav li.active a{
	color:#3FA7CB;
}
.settings-main{
margin-top:20px;
font-size:14px;
color:#333;		margin-left: 70px;
margin-right: 70px;
}
.settings-form{
	margin-bottom:24px;

}
.settings-form > label{
	display:inline-block;
	width:60px;
	text-align:right;
	margin-right:8px;
}
.settings-form input[type="text"],.settings-form textarea{
color: #999;
border: 1px solid #CCC;
border-bottom: 1px solid #E2E2E2;
border-right: 1px solid #E2E2E2;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05) inset;
-moz-box-shadow: 1px 3px rgba(0, 0, 0, 0.05) inset;
-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05)0 inset;
background-color: white;
vertical-align: middle;
font-size: 14px;
padding:10px 0 8px 8px;
height: 18px;
overflow: hidden;	
}
.settings-form input[type="text"]{
width: 315px;
height: 10px;	
}
.settings-form textarea{
width: 315px;
height:110px;
}
.settings-form select{
width:105px;
height:28px;
border: 1px solid #CCC;		
}
.settings-form input:hover{
	border-color:#9CC;
	color:#666;
}
.tab-content > .tab-pane{
  display: none;
}
.tab-pane.active{
	display:block;
}
.newPortrait{
	width:500px;
	float:left;
	margin-left:20px;
}