@import url('normalize.css');

/* General Demo Style */






/* Header Style */


/* Demo Buttons Style */
.codrops-demos{
    text-align: center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 10px;
	font-weight: bold;
	color: #333;
	line-height: 20px;	
	font-size: 12px;
	background: #fff;
	background: rgba(255,255,255,0.4);
	padding: 0 4px;
}
.codrops-demos a:hover{
	border-bottom: 2px solid #f7bb6d;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	border-bottom: 2px solid #f7bb6d;
	color: #777;
}

.codrops-header-special{
	position: absolute;
	top: 80px;
	left: 0px;
	text-align: left;
}
.codrops-header-special h2{
	padding: 5px 20px 5px 10px;
	color: #fff;
	line-height: 26px;
	background: #000;
	background: rgba(0,0,0,0.8);
}
.codrops-header-special h1{
	background: #000;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	font-size: 32px;
	line-height: 32px;
	padding: 20px;
	color: #fff;
	text-shadow: 0 0 1px #fff;
}
.codrops-header-special .codrops-demos{
	text-align: left;
}
.codrops-header-special .codrops-demos a{
	background: rgba(255,255,255,1);
}
.codrops-header-special .codrops-info{
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding: 5px 20px 5px 10px;
	line-height: 26px;
	margin-top: 30px;
	text-align: left;
}